html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

main {
  position: relative;
}

#playButton, #pauseButton, #stopButton {
  position: absolute;
  bottom: 50px;
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  background-color: #5B9279;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#playButton { left: 10px; }
#pauseButton { left: 90px; }
#stopButton { left: 175px; }


#progressBar {
  -webkit-appearance: none;
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 580px;
  height: 8px;
  background: #ddd; 
  border-radius: 5px; 
  outline: none;
  cursor: pointer;
  margin: 10px 0;
}


#progressBar::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px;
  background: #ff5c5c; 
  border-radius: 50%; 
  cursor: pointer;
  border: 2px solid #ff5c5c; 
}


